Repository canonical/hardware-api: changes, and which Codecov flags are due for each by the changed paths.
All: Server, Charm, Client

codecov.yaml:

comment:
  layout: "header, diff, flags, components"
  show_carryforward_flags: true
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules:
    statuses:
      - type: project
        target: 70%
      - type: patch
        target: 70%
  individual_components:
    - component_id: server
      name: Server
      paths: [server/**, "!server/charm/**"]
    - component_id: charm
      name: Charm
      paths: [server/charm/**]
    - component_id: client
      name: Client
      paths: [client/**]

fix(server): add regression test
  server/tests/external/c3/test_client.py
Due: Server

fix(server): remove unused fixture
  server/tests/external/c3/test_client.py
Due: Server

fix(server): remove machinereports endpoint usage (#624)
  server/scripts/c3_test_data/machine_reports.json
  server/scripts/import_test_data.py
  server/src/hwapi/external/c3/client.py
  server/src/hwapi/external/c3/response_models.py
  server/src/hwapi/external/c3/urls.py
  server/tests/external/c3/test_client.py
Due: Server

fix(client): resolve rust lint warnings
  client/bin/hwctl-daemon.rs
  client/bin/hwctl.rs
  client/src/cache.rs
  client/src/helpers.rs
  client/src/lib.rs
  client/src/py_bindings.rs
Due: Client

fix(client): resolve python lint warnings
  client/test_utils/certification_emulator.py
Due: Client

chore(client): update lint tooling configuration
  client/.gitignore
  client/justfile
  client/tox.ini
Due: Client

fix(client): resolve lint warnings (#608)
  client/.gitignore
  client/bin/hwctl-daemon.rs
  client/bin/hwctl.rs
  client/justfile
  client/src/cache.rs
  client/src/helpers.rs
  client/src/lib.rs
  client/src/py_bindings.rs
  client/test_utils/certification_emulator.py
  client/tox.ini
Due: Client

refactor(server): extract shared response builder code
  server/src/hwapi/endpoints/certification/response_builders.py
Due: Server

fix(ci): upload-charm action needs same os as base
  .github/workflows/publish_server.yaml
Due: none

fix(ci): upload-charm action needs same os as base (#630)
  .github/workflows/publish_server.yaml
Due: none

chore(client): split test recipe into rs and py sub-recipes
  client/justfile
Due: Client

chore(server): detach in serve recipe
  server/justfile
Due: Server

fix(docs): update phrasing to match template
  .kb/agents.md
Due: none

docs: add agentic docs
  .kb/agents.md
  .kb/testing.md
  AGENTS.md
  client/.kb/testing.md
  client/AGENTS.md
  server/.kb/testing.md
  server/AGENTS.md
Due: Server, Client

ci: update zizmor action usage
  .github/workflows/validate_workflows.yaml
Due: none

chore: update zizmor just recipe
  justfile
Due: none

docs(client): update readme
  client/README.md
Due: Client

docs: document only hwctl snap installation
  docs/tutorial/using-hwctl.rst
Due: none

docs: update security documentation
  docs/explanation/security.rst
  docs/reuse/links.txt
Due: none

docs: rephrase security overview subject
  docs/explanation/security.rst
Due: none

docs: client security updates (#635)
  client/README.md
  docs/explanation/security.rst
  docs/reuse/links.txt
  docs/tutorial/using-hwctl.rst
Due: Client

ci: add ssdlc scanning with sbomber
  .github/ssdlc/charm-sbom-manifest.yaml
  .github/ssdlc/charm-secscan-manifest.yaml
  .github/ssdlc/rock-sbom-manifest.yaml
  .github/ssdlc/rock-secscan-manifest.yaml
  .github/ssdlc/snap-sbom-manifest.yaml
  .github/ssdlc/snap-secscan-manifest.yaml
  .github/workflows/ssdlc.yml
Due: none

ci: trigger ci
  .github/workflows/ssdlc.yml
Due: none

fix(ci): remove pull_request trigger
  .github/workflows/ssdlc.yml
Due: none

ci: add SSDLC scanning with sbomber (#662)
  .github/ssdlc/charm-sbom-manifest.yaml
  .github/ssdlc/charm-secscan-manifest.yaml
  .github/ssdlc/rock-sbom-manifest.yaml
  .github/ssdlc/rock-secscan-manifest.yaml
  .github/ssdlc/snap-sbom-manifest.yaml
  .github/ssdlc/snap-secscan-manifest.yaml
  .github/workflows/ssdlc.yml
Due: none
