Repository canonical/hardware-api: changes, and which Codecov flags are due for each by the changed paths.
All: Server, Charm, Client

chore(server): add optional mysql support
  server/pyproject.toml
  server/uv.lock
Due: Server

feat(docs): enable Google Analytics with cookie banner in html template
  docs/.sphinx/_templates/footer.html
  docs/.sphinx/_templates/header.html
  docs/conf.py
Due: none

docs(server): update schema
  server/schemas/openapi.yaml
Due: Server

fix(client): fix typo in bin required-features option
  client/Cargo.toml
Due: Client

chore(client): bump client version to 0.11.1
  client/Cargo.lock
  client/Cargo.toml
Due: Client

fix(ci): ignore superfluous-actions warning
  .github/zizmor.yml
Due: none

chore(client): add justfile
  client/justfile
Due: Client

chore(client): define rust-toolchain.toml
  client/rust-toolchain.toml
Due: Client

chore(docs): add justfile
  docs/justfile
Due: none

chore(server): add justfiles
  server/charm/justfile
  server/justfile
Due: Server, Charm

chore: add project root justfile
  justfile
Due: none

docs: add just to contributing guide
  CONTRIBUTING.md
Due: none

chore: gitignore workshop lockfile
  .gitignore
Due: none

chore: add dev workshop project sdk
  .workshop/hardware-api/hooks/setup-base
  .workshop/hardware-api/sdk.yaml
Due: none

chore: add development workshop definition
  .workshop/dev.yaml
Due: none

docs: add workshop to the contributing guide
  CONTRIBUTING.md
Due: none

ci: use just in workflows
  .github/workflows/run_integration_tests.yaml
  .github/workflows/test_client.yaml
  .github/workflows/test_server.yaml
  .github/workflows/tics.yml
Due: none

hwclt: Add cache extra data in JSON
  client/Cargo.lock
  client/Cargo.toml
  client/bin/hwctl.rs
  client/src/models/response_validators.rs
Due: Client

Added explanation to the update_fields function.
  client/bin/hwctl.rs
Due: Client

Apply lint
  client/bin/hwctl.rs
Due: Client

remove stale parameter
  client/bin/hwctl.rs
Due: Client

fix(ci): specify self-hosted runner label
  .github/workflows/openapi_gh_pages.yaml
  .github/workflows/package_client.yaml
  .github/workflows/promote_snap.yaml
  .github/workflows/publish_client_crates.yaml
  .github/workflows/publish_server.yaml
  .github/workflows/run_integration_tests.yaml
  .github/workflows/test_client.yaml
  .github/workflows/test_server.yaml
Due: none

breaking(terraform): update charm module to juju 2.0 provider
  server/terraform/charm/README.md
  server/terraform/charm/main.tf
  server/terraform/charm/outputs.tf
  server/terraform/charm/terraform.tf
  server/terraform/charm/variables.tf
Due: Server

breaking(terraform): update product terraform files to use ingress-configurator instead of nginx
  server/terraform/product/main.tf
  server/terraform/product/outputs.tf
  server/terraform/product/terraform.tf
  server/terraform/product/variables.tf
Due: Server

ci: remove markdown-style-checks.yml
  .github/workflows/markdown-style-checks.yml
Due: none

chore: update justfiles
  client/justfile
  justfile
  server/charm/justfile
  server/justfile
Due: Server, Charm, Client

chore: update workshop sdks
  .workshop/dev.yaml
Due: none

ci: use client::setup in tics.yml
  .github/workflows/tics.yml
Due: none

ci: update run_integration_tests.yaml
  .github/workflows/run_integration_tests.yaml
Due: none

ci: simplify publish_client_crates.yaml
  .github/workflows/publish_client_crates.yaml
Due: none

ci: simplify test_client.yaml
  .github/workflows/test_client.yaml
Due: none

chore(deps): bump jubilant
  server/charm/uv.lock
Due: Charm

chore(deps): bump pytest-jubilant
  server/charm/uv.lock
Due: Charm

chore(charm): test complete ingress configurator setup
  .github/workflows/test_server.yaml
  server/charm/concierge.yaml
  server/charm/tests/integration/conftest.py
  server/charm/tests/integration/helpers.py
  server/charm/tests/integration/test_ingress.py
  server/charm/tox.ini
Due: Charm

ci: simplify test_server.yaml
  .github/workflows/test_server.yaml
Due: none

chore(charm): sync all groups in venv recipe
  server/charm/justfile
Due: Charm

chore: update charm integration test just recipe
  server/charm/justfile
Due: Charm

chore(server): update dockerfile
  server/Dockerfile
Due: Server

ci: use github-hosted for test ci
  .github/workflows/run_integration_tests.yaml
  .github/workflows/test_client.yaml
  .github/workflows/test_server.yaml
Due: none

Move snapcraft.yaml file to the root folder
  .github/workflows/package_client.yaml
  client/CONTRIBUTING.md
  snapcraft.yaml
Due: Client

Path conditions:
  Server: any of: server/**, but not: server/charm/**
  Charm: any of: server/charm/**
  Client: any of: client/**
