Repository canonical/hardware-api: changes, and which Codecov flags are due for each by the changed paths.
All: Server, Charm, Client

chore(server): simplify terraform modules
  server/terraform/README.md
  server/terraform/main.tf
  server/terraform/outputs.tf
  server/terraform/product/README.md
  server/terraform/product/main.tf
  server/terraform/product/outputs.tf
  server/terraform/product/terraform.tf
  server/terraform/product/variables.tf
  server/terraform/terraform.tf
  server/terraform/variables.tf
Due: Server

chore(charm): remove nginx
  server/charm/README.md
  server/charm/charmcraft.yaml
  server/charm/lib/charms/nginx_ingress_integrator/v0/nginx_route.py
  server/charm/src/charm.py
  server/charm/tests/integration/test_nginx.py
  server/charm/tests/unit/test_charm.py
  server/terraform/outputs.tf
Due: Server, Charm

chore(server): add terraform just recipes
  server/justfile
Due: Server

Remove snap upload to the store
  .github/workflows/package_client.yaml
  .github/workflows/promote_snap.yaml
  .github/workflows/test_client.yaml
Due: none

docs(server): use generated terraform readme
  server/terraform/README.md
Due: Server

ci: add terraform check to server test
  .github/workflows/test_server.yaml
Due: none

chore(deps): bump ingress charm lib
  server/charm/lib/charms/traefik_k8s/v2/ingress.py
Due: Charm

fix(ci): add --yes to tics setup
  .github/workflows/tics.yml
Due: none

chore(charm): remove hostname setting
  server/charm/charmcraft.yaml
  server/charm/src/config.py
  server/charm/tests/unit/test_charm.py
Due: Charm

docs(charm): remove hostname setting from readme
  server/charm/README.md
Due: Charm

chore(server): add optional db engine dependencies
  server/pyproject.toml
  server/uv.lock
Due: Server

chore(server): add postgres deps to image
  server/Dockerfile
Due: Server

chore(server): add optional mysql support
  server/pyproject.toml
  server/uv.lock
Due: Server

fix(ci): update snap smoke test
  .github/workflows/test_client.yaml
Due: none

refactor(server): extract shared response builder code
  server/src/hwapi/endpoints/certification/response_builders.py
Due: Server

Add formatting check instructions
  client/CONTRIBUTING.md
Due: Client

chore: add pre-commit hooks
  .pre-commit-config.yaml
  client/.pre-commit-config.yaml
  client/justfile
  docs/.pre-commit-config.yaml
  justfile
  server/.pre-commit-config.yaml
  server/charm/.pre-commit-config.yaml
Due: Server, Charm, Client

docs: document pre-commit setup in contributing guide
  CONTRIBUTING.md
Due: none

fix: apply fixes to files
  client/test_data/arm64/rpi4b8g/cpuinfo
  client/test_data/arm64/rpi4b8g/cpuinfo_max_freq
  client/test_data/arm64/rpi4b8g/device-tree/compatible
  client/test_data/arm64/rpi4b8g/device-tree/model
  docs/.sphinx/_static/swagger-custom.css
  docs/.sphinx/get_vale_conf.py
  docs/explanation/certification-status.rst
  docs/index.rst
  docs/reference/openapi.rst
  hardware-api.code-workspace
Due: Client

feat: add --verbosity flag to hwctl CLI
  client/bin/hwctl.rs
Due: Client

Add cache support
  client/Cargo.lock
  client/Cargo.toml
  client/bin/hwctl.rs
  client/src/cache.rs
  client/src/constants.rs
  client/src/lib.rs
  client/src/models/devices.rs
  client/src/models/request_validators.rs
  client/src/models/software.rs
Due: Client

Added unitary tests to the cache
  client/Cargo.lock
  client/Cargo.toml
  client/src/cache.rs
  client/src/lib.rs
Due: Client

Add tests for expiration dates
  client/src/cache.rs
Due: Client

Invalidate the cache if remote access is disabled
  client/src/cache.rs
Due: Client

Changes requested
  client/Cargo.toml
  client/src/cache.rs
  client/src/constants.rs
  client/src/lib.rs
Due: Client

Add tests for lib.rs
  client/bin/hwctl.rs
  client/src/cache.rs
  client/src/lib.rs
  client/src/models/devices.rs
Due: Client

Add certification URL
  client/src/cache.rs
  client/src/lib.rs
Due: Client

Use default values for the Cache data
  client/src/cache.rs
Due: Client

Removed old entry
  integration-tests/src/integration_test.rs
Due: none

Fix integration test
  integration-tests/src/integration_test.rs
Due: none

Fix python bindings
  client/src/py_bindings.rs
Due: Client

Several fixes
  client/bin/hwctl.rs
  client/src/cache.rs
  client/src/lib.rs
  client/test_data/amd64/dell_xps13/response.json
  client/test_data/amd64/dgx_station/response.json
  client/test_data/amd64/thinkstation_p620/response.json
  integration-tests/src/integration_test.rs
Due: Client

Add extra tests
  client/src/lib.rs
Due: Client

Potential fix for pull request finding
  client/src/lib.rs
Due: Client

fix tests
  client/src/lib.rs
Due: Client

Remove some lint warnings
  client/src/cache.rs
  client/src/lib.rs
Due: Client

Copilot fixes
  client/bin/hwctl.rs
  client/src/lib.rs
Due: Client

Fix build
  client/bin/hwctl.rs
Due: Client

Final fix
  integration-tests/src/integration_test.rs
Due: none

Path conditions:
  Server: any of: server/**, but not: server/charm/**
  Charm: any of: server/charm/**
  Client: any of: client/**
