Repository canonical/hardware-api: changes, and which Codecov flags are due for each by the changed paths.
All: Server, Charm, Client

fix: escape vendor name
  server/src/hwapi/data_models/repository.py
Due: Server

fix: add '\' to like escape
  server/src/hwapi/data_models/repository.py
Due: Server

fix: remove com_ubuntu_hwctl.rs
  client/bin/com_ubuntu_hwctl.rs
Due: Client

docs: migrate docs hosting site to ubuntu.com/docs (#543)
  docs/.sphinx/_static/overwrite_links.js
  docs/.sphinx/_templates/footer.html
  docs/.sphinx/_templates/header.html
  docs/conf.py
Due: none

fix: loosen matching for board identifier revisions
  server/src/hwapi/data_models/repository.py
  server/src/hwapi/endpoints/certification/logic.py
Due: Server

chore: add unit tests
  server/tests/endpoints/certification/test_certification.py
Due: Server

fix: order cert matches
  server/src/hwapi/data_models/repository.py
Due: Server

fix(client): do not install package in tox.ini format/lint
  client/tox.ini
Due: Client

fix(client): resolve rust lint warnings
  client/bin/com_ubuntu_hwctl.rs
  client/bin/hwctl-daemon.rs
  client/bin/hwctl.rs
  client/src/cache.rs
  client/src/helpers.rs
  client/src/lib.rs
  client/src/py_bindings.rs
Due: Client

fix(client): resolve python lint warnings
  client/test_utils/certification_emulator.py
Due: Client

fix(client): remove com_ubuntu_hwctl.rs
  client/.gitignore
  client/bin/com_ubuntu_hwctl.rs
Due: Client

fix(client): fix typo in tox.ini
  client/tox.ini
Due: Client

fix(client): lint recipe requires build now
  client/justfile
Due: Client

fix: use certified search for platform name
  server/src/hwapi/endpoints/certification/response_builders.py
  server/src/hwapi/external/certified/urls.py
  server/tests/data_generator.py
  server/tests/external/certified/test_urls.py
Due: Server

fix: update client response validation
  client/bin/com_ubuntu_hwctl.rs
  client/src/models/response_validators.rs
Due: Client

fix: loosen server match of bios and mobo
  server/schemas/openapi.yaml
  server/src/hwapi/data_models/repository.py
  server/src/hwapi/endpoints/certification/certification.py
  server/src/hwapi/endpoints/certification/logic.py
  server/src/hwapi/endpoints/certification/response_builders.py
  server/src/hwapi/endpoints/certification/response_validators.py
  server/tests/data_generator.py
  server/tests/endpoints/certification/test_certification.py
Due: Server

fix: harden machine get when board and bios are both blank
  server/src/hwapi/data_models/repository.py
Due: Server

fix: escape like pattern
  server/src/hwapi/data_models/repository.py
Due: Server

ci: bump publish workflow to 15 hour timeout
  .github/workflows/publish_server.yaml
Due: none

fix: update client response validators
  client/src/models/response_validators.rs
Due: Client

fix: use fallback only when board is not provided
  server/src/hwapi/endpoints/certification/logic.py
Due: Server

fix: loosen match to account for vendor prefix
  server/src/hwapi/data_models/repository.py
  server/tests/endpoints/certification/test_certification.py
Due: Server

chore(client): split test recipe into rs and py sub-recipes
  client/justfile
Due: Client

chore(server): detach in serve recipe
  server/justfile
Due: Server

docs: add agentic docs
  .kb/agents.md
  .kb/testing.md
  AGENTS.md
  client/.kb/testing.md
  client/AGENTS.md
  server/.kb/testing.md
  server/AGENTS.md
Due: Server, Client

fix(docs): update phrasing to match template
  .kb/agents.md
Due: none

ci: add gha cache to publish workflow
  .github/workflows/publish_server.yaml
Due: none

chore(server): make hwapi-dev start up without prod data
  server/Dockerfile
  server/docker-compose.yml
Due: Server

chore(server): add optional cids param to load_hardware
  server/src/hwapi/external/c3/client.py
Due: Server

chore(server): add import-cids script for dev work
  server/justfile
  server/scripts/import_certificates.py
Due: Server

fix(server): use public reports to supplement hardware info
  server/scripts/c3_test_data/machine_reports.json
  server/scripts/import_test_data.py
  server/src/hwapi/external/c3/client.py
  server/src/hwapi/external/c3/response_models.py
  server/src/hwapi/external/c3/urls.py
  server/tests/external/c3/test_client.py
Due: Server

fix: check platform name with startswith logic
  server/src/hwapi/data_models/repository.py
  server/tests/endpoints/certification/test_certification.py
Due: Server

fix: loosen match of bios and mobo (#606)
  .github/workflows/publish_server.yaml
  client/src/models/response_validators.rs
  server/Dockerfile
  server/docker-compose.yml
  server/justfile
  server/schemas/openapi.yaml
  server/scripts/c3_test_data/machine_reports.json
  server/scripts/import_certificates.py
  server/scripts/import_test_data.py
  server/src/hwapi/data_models/repository.py
  server/src/hwapi/endpoints/certification/certification.py
  server/src/hwapi/endpoints/certification/logic.py
  server/src/hwapi/endpoints/certification/response_builders.py
  server/src/hwapi/endpoints/certification/response_validators.py
  server/src/hwapi/external/c3/client.py
  server/src/hwapi/external/c3/response_models.py
  server/src/hwapi/external/c3/urls.py
  server/src/hwapi/external/certified/urls.py
  server/tests/data_generator.py
  server/tests/endpoints/certification/test_certification.py
  server/tests/external/c3/test_client.py
  server/tests/external/certified/test_urls.py
Due: Server, Client

fix(server): remove machinereports endpoint usage
  server/scripts/c3_test_data/machine_reports.json
  server/scripts/import_test_data.py
  server/src/hwapi/external/c3/client.py
  server/src/hwapi/external/c3/response_models.py
  server/src/hwapi/external/c3/urls.py
  server/tests/external/c3/test_client.py
Due: Server

Path conditions:
  Server: any of: server/**, but not: server/charm/**
  Charm: any of: server/charm/**
  Client: any of: client/**
