Repository canonical/hardware-api: changes, and which Codecov flags are due for each by the changed paths.
All: Server, Charm, Client

chore(charm): specify port in integration tests
  server/charm/tests/integration/test_charm.py
Due: Charm

chore(charm): add unit conftest.py
  server/charm/tests/unit/conftest.py
Due: Charm

chore(charm): add unit tests
  server/charm/tests/unit/test_charm.py
Due: Charm

chore(charm): add integration tests helpers.py
  server/charm/tests/integration/helpers.py
Due: Charm

chore(charm): add app is up integration test
  server/charm/tests/integration/test_charm.py
Due: Charm

chore(charm): add integration traefik-k8s tests
  server/charm/tests/integration/test_charm.py
Due: Charm

try without blocking on external_host?
  server/charm/src/charm.py
Due: Charm

chore(charm): add concierge.yaml
  server/charm/concierge.yaml
Due: Charm

ci: use concierge.yaml in charm test
  .github/workflows/test_server.yaml
Due: none

docs(charm): update CONTRIBUTING.md
  server/charm/CONTRIBUTING.md
Due: Charm

chore(charm): add __init__.py to test directories
  server/charm/tests/integration/__init__.py
  server/charm/tests/unit/__init__.py
Due: Charm

chore(charm): add requests to integration dependencies
  server/charm/pyproject.toml
  server/charm/uv.lock
Due: Charm

chore(charm): add integration test that app is up
  server/charm/tests/integration/test_charm.py
Due: Charm

chore(charm): expand ingress integration test
  server/charm/tests/integration/test_charm.py
Due: Charm

chore(charm): add integration helpers.py
  server/charm/tests/integration/helpers.py
Due: Charm

chore(charm): add unit test conftest.py
  server/charm/tests/unit/conftest.py
Due: Charm

chore(charm): add test_nginx.py
  server/charm/tests/integration/test_charm.py
  server/charm/tests/integration/test_nginx.py
Due: Charm

chore(charm): use ctx fixture in unit tests
  server/charm/tests/unit/test_charm.py
Due: Charm

fix(charm): fix typo in hostname config default
  server/charm/src/charm.py
Due: Charm

chore(charm): limit nginx-route relationship to 1
  server/charm/charmcraft.yaml
Due: Charm

chore(charm): add traefik_route charm library
  server/charm/charmcraft.yaml
  server/charm/lib/charms/traefik_k8s/v0/traefik_route.py
Due: Charm

feat(charm): add traefik-route relation
  server/charm/charmcraft.yaml
  server/charm/src/charm.py
Due: Charm

chore(charm): add ingress_template unit test fixture
  server/charm/tests/unit/conftest.py
Due: Charm

chore(charm): add traefik integration tests
  server/charm/tests/integration/test_traefik.py
Due: Charm

chore(charm): add get_k8s_ingress_ip integration helper
  server/charm/tests/integration/helpers.py
Due: Charm

chore(charm): add todo to test_nginx.py
  server/charm/tests/integration/test_nginx.py
Due: Charm

chore(charm): update charmcraft.yaml hostname description
  server/charm/charmcraft.yaml
Due: Charm

chore(server): add traefik-route to charm tf outputs
  server/terraform/charm/outputs.tf
Due: Server

chore(server): replace nginx with traefik in product tf module
  server/terraform/product/README.md
  server/terraform/product/main.tf
  server/terraform/product/outputs.tf
  server/terraform/product/variables.tf
Due: Server

chore(server): rename default terraform app name "hwapi"
  server/terraform/charm/variables.tf
  server/terraform/product/variables.tf
Due: Server

chore(server): add lego to product terraform module
  server/terraform/product/README.md
  server/terraform/product/main.tf
  server/terraform/product/outputs.tf
  server/terraform/product/variables.tf
Due: Server

chore(server): add ty as dev dependency
  server/pyproject.toml
  server/uv.lock
Due: Server

chore(server): use ty for type checking
  server/src/hwapi/main.py
  server/tests/conftest.py
  server/tox.ini
Due: Server

chore(server): remove mypy from dev dependencies
  server/pyproject.toml
  server/uv.lock
Due: Server

chore(server): add types-sqlalchemy-utils to dev dependencies
  server/pyproject.toml
  server/uv.lock
Due: Server

ci: add ruff and ty vscode extensions to workspace
  hardware-api.code-workspace
Due: none

chore: update charm libraries
  server/charm/lib/charms/traefik_k8s/v0/traefik_route.py
Due: Charm

chore(client): add client pyproject.toml
  client/pyproject.toml
Due: Client

chore(client): update tox.ini
  client/tox.ini
Due: Client

Path conditions:
  Server: any of: server/**, but not: server/charm/**
  Charm: any of: server/charm/**
  Client: any of: client/**
