Repository canonical/hardware-api: changes, and which Codecov flags are due for each by the changed paths.
All: Server, Charm, Client

codecov.yaml:

comment:
  layout: "header, diff, flags, components"
  show_carryforward_flags: true
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules:
    statuses:
      - type: project
        target: 70%
      - type: patch
        target: 70%
  individual_components:
    - component_id: server
      name: Server
      paths: [server/**, "!server/charm/**"]
    - component_id: charm
      name: Charm
      paths: [server/charm/**]
    - component_id: client
      name: Client
      paths: [client/**]

ci: install client pybindings in tics workflow
  .github/workflows/tics.yml
Due: none

chore(client): update gitignore
  client/.gitignore
Due: Client

docs(client): update CONTRIBUTING.md
  client/CONTRIBUTING.md
Due: Client

ci: run specific client tox tests
  .github/workflows/test_client.yaml
Due: none

refactor(server): extract shared response builder code
  server/src/hwapi/endpoints/certification/response_builders.py
Due: Server

fix(ci): use noble runner for tics workflow
  .github/workflows/tics.yml
Due: none

refactor(charm): use constants for container, layer, and service names
  server/charm/src/charm.py
Due: Charm

refactor(charm): extract charm config to config.py
  server/charm/src/charm.py
  server/charm/src/config.py
Due: Charm

chore(charm): update tests
  server/charm/tests/integration/helpers.py
  server/charm/tests/integration/test_ingress.py
  server/charm/tests/integration/test_traefik.py
  server/charm/tests/unit/conftest.py
  server/charm/tests/unit/test_charm.py
Due: Charm

feat(charm): replace traefik-route with ingress
  server/charm/charmcraft.yaml
  server/charm/lib/charms/traefik_k8s/v0/traefik_route.py
  server/charm/lib/charms/traefik_k8s/v2/ingress.py
  server/charm/src/charm.py
Due: Charm

chore(server): add ingress endpoint to terraform
  server/terraform/charm/outputs.tf
Due: Server

fix(charm): remove unnecessary type ignore comment
  server/charm/src/charm.py
Due: Charm

chore(charm): add pytest-jubilant integration testing dep
  server/charm/pyproject.toml
  server/charm/uv.lock
Due: Charm

chore(charm): add pytest-jubilant to integration tests
  server/charm/tests/integration/conftest.py
  server/charm/tests/integration/test_charm.py
  server/charm/tests/integration/test_ingress.py
  server/charm/tests/integration/test_nginx.py
Due: Charm

ci: dump juju logs for charm integration testing
  .github/workflows/test_server.yaml
Due: none

chore(charm): fix test docstring
  server/charm/tests/integration/test_ingress.py
Due: Charm

chore(server): add psycopg libary
  server/pyproject.toml
  server/uv.lock
Due: Server

fix: update integration tests
  integration-tests/docker-compose.yml
Due: none

feat(server): use external db for server
  server/CONTRIBUTING.md
  server/Dockerfile
  server/docker-compose.yml
  server/scripts/import_from_c3.py
  server/scripts/update_db.py
  server/src/hwapi/data_models/setup.py
Due: Server

chore(charm): add data_interfaces charm library
  server/charm/charmcraft.yaml
  server/charm/lib/charms/data_platform_libs/v0/data_interfaces.py
  server/charm/pyproject.toml
Due: Charm

chore(server): add database relation to terraform
  server/terraform/charm/outputs.tf
Due: Server

feat(charm): add database relation
  server/charm/charmcraft.yaml
  server/charm/src/charm.py
  server/charm/tests/integration/test_charm.py
  server/charm/tests/integration/test_nginx.py
  server/charm/tests/unit/conftest.py
  server/charm/tests/unit/test_charm.py
Due: Charm

migrate docs hosting site to ubuntu.com/docs
  docs/.sphinx/_static/overwrite_links.js
  docs/conf.py
Due: none

fix(ci): update run_integration_tests.yaml
  .github/workflows/run_integration_tests.yaml
Due: none

fix(charm): define optional field for libraries
  server/charm/charmcraft.yaml
Due: Charm

ci: remove zizmor.yml
  .github/zizmor.yml
Due: none

fix(ci): bump and pin github actions
  .github/workflows/automatic-doc-checks.yml
  .github/workflows/charm-update-libs.yaml
  .github/workflows/cla.yml
  .github/workflows/markdown-style-checks.yml
  .github/workflows/openapi_gh_pages.yaml
  .github/workflows/package_client.yaml
  .github/workflows/publish_client_crates.yaml
  .github/workflows/publish_server.yaml
  .github/workflows/run_integration_tests.yaml
  .github/workflows/test_client.yaml
  .github/workflows/test_server.yaml
  .github/workflows/tics.yml
  .github/workflows/validate_workflows.yaml
Due: none

fix(docs): make lint-md noop
  docs/Makefile
Due: none

fix(server): bump idna to 3.18
  server/uv.lock
Due: Server

fix(server): bump pytest to 9.0.3
  server/uv.lock
Due: Server

fix(server): bump pygments to 2.20
  server/uv.lock
Due: Server

fix(charm): bump pygments to 2.20
  server/charm/uv.lock
Due: Charm

fix(server): bump urllib3 to 2.7.0
  server/uv.lock
Due: Server

fix(charm): bump idna to 3.18
  server/charm/uv.lock
Due: Charm

fix(charm): bump pytest to 9.0.3
  server/charm/uv.lock
Due: Charm

fix(charm): bump urllib3 to 2.7.0
  server/charm/uv.lock
Due: Charm

fix(charm): bump requests to 2.34.2
  server/charm/uv.lock
Due: Charm

fix(server): bump uv to 0.11.18
  server/Dockerfile
Due: Server

chore(server): add optional db engine dependencies
  server/pyproject.toml
  server/uv.lock
Due: Server

chore(server): add postgres deps to image
  server/Dockerfile
Due: Server
