Repository canonical/hardware-api: changes, and which Codecov flags are due for each by the changed paths.
All: Server, Charm, Client

codecov.yaml:

comment:
  layout: "header, diff, flags, components"
  show_carryforward_flags: true
flag_management:
  default_rules:
    carryforward: true
component_management:
  default_rules:
    statuses:
      - type: project
        target: 70%
      - type: patch
        target: 70%
  individual_components:
    - component_id: server
      name: Server
      paths: [server/**, "!server/charm/**"]
    - component_id: charm
      name: Charm
      paths: [server/charm/**]
    - component_id: client
      name: Client
      paths: [client/**]

Fix
  integration-tests/src/integration_test.rs
Due: none

Fix integration test
  integration-tests/src/integration_test.rs
Due: none

extra fixes
  client/src/py_bindings.rs
  integration-tests/src/integration_test.rs
Due: Client

Add new python function for full access
  client/src/py_bindings.rs
Due: Client

Return an error in python, as before
  client/src/py_bindings.rs
Due: Client

Return the error
  client/src/py_bindings.rs
Due: Client

Fix syntax
  client/src/py_bindings.rs
Due: Client

Better names for the modes
  client/bin/hwctl.rs
  client/src/lib.rs
  client/src/py_bindings.rs
Due: Client

Last fixes
  client/src/py_bindings.rs
  integration-tests/src/integration_test.rs
Due: Client

Missing fix
  client/src/py_bindings.rs
Due: Client

ci: use mostly github-hosted runners
  .github/workflows/openapi_gh_pages.yaml
  .github/workflows/publish_client_crates.yaml
  .github/workflows/publish_server.yaml
Due: none

Daemonize hwctl
  .github/workflows/test_client.yaml
  README.md
  client/Cargo.lock
  client/Cargo.toml
  client/README.md
  client/bin/com.ubuntu.hwctl.varlink
  client/bin/hwctl-daemon.rs
  client/bin/hwctl.rs
  client/build.rs
  client/snapcraft.yaml
  client/src/cache.rs
  client/src/constants.rs
  client/src/helpers.rs
  client/src/lib.rs
  client/test_data/amd64/dell_xps13/response.json
  client/test_data/amd64/dgx_station/response.json
  client/test_data/amd64/thinkstation_p620/response.json
  client/test_utils/certification_emulator.py
Due: Client

Update README.md
  README.md
Due: none

Fixes
  client/README.md
  client/snapcraft.yaml
Due: Client

docs: update to new link replacement JS template
  docs/.sphinx/_static/overwrite_links.js
Due: none

docs: support versioning and update sitemap path
  docs/conf.py
Due: none

fix sitemap url pattern
  docs/conf.py
Due: none

Fix README.md
  client/README.md
Due: Client

Several fixes
  client/bin/hwctl-daemon.rs
  client/src/helpers.rs
  client/src/lib.rs
Due: Client

Complete the answer
  client/bin/hwctl-daemon.rs
Due: Client

Only allow to use --server if configured
  client/bin/com.ubuntu.hwctl.varlink
  client/bin/hwctl-daemon.rs
  client/bin/hwctl.rs
  client/snap/hooks/configure
  client/src/constants.rs
  client/src/helpers.rs
Due: Client

Update tests
  .github/workflows/test_client.yaml
Due: none

Better check of the snap settings
  client/bin/hwctl-daemon.rs
  client/snap/hooks/configure
  client/snapcraft.yaml
  client/src/cache.rs
  client/src/constants.rs
  client/src/helpers.rs
  client/src/lib.rs
  client/src/py_bindings.rs
  integration-tests/src/integration_test.rs
Due: Client

Update client/README.md
  client/README.md
Due: Client

Add comment to specify that the JSON is malformed on purpose
  client/test_utils/certification_emulator.py
Due: Client

Fix cache permissions
  client/README.md
  client/src/cache.rs
Due: Client

docs: update to use existing rtd address
  docs/.sphinx/_static/overwrite_links.js
Due: none

Fix cache permissions (#601)
  client/README.md
  client/src/cache.rs
Due: Client

ci: use mostly github-hosted runners (#589)
  .github/workflows/openapi_gh_pages.yaml
  .github/workflows/publish_client_crates.yaml
  .github/workflows/publish_server.yaml
Due: none

fix: loosen server match of bios and mobo
  server/schemas/openapi.yaml
  server/src/hwapi/data_models/repository.py
  server/src/hwapi/endpoints/certification/certification.py
  server/src/hwapi/endpoints/certification/logic.py
  server/src/hwapi/endpoints/certification/response_builders.py
  server/src/hwapi/endpoints/certification/response_validators.py
  server/tests/data_generator.py
  server/tests/endpoints/certification/test_certification.py
Due: Server

fix: update client response validation
  client/bin/com_ubuntu_hwctl.rs
  client/src/models/response_validators.rs
Due: Client

fix: use certified search for platform name
  server/src/hwapi/endpoints/certification/response_builders.py
  server/src/hwapi/external/certified/urls.py
  server/tests/data_generator.py
  server/tests/external/certified/test_urls.py
Due: Server

ci: bump publish workflow to 15 hour timeout
  .github/workflows/publish_server.yaml
Due: none

fix: update client response validators
  client/src/models/response_validators.rs
Due: Client

fix: harden machine get when board and bios are both blank
  server/src/hwapi/data_models/repository.py
Due: Server

fix: escape like pattern
  server/src/hwapi/data_models/repository.py
Due: Server

fix: use fallback only when board is not provided
  server/src/hwapi/endpoints/certification/logic.py
Due: Server
